[submodule "thirdparty/depthai-core"]
	path = oak_detector/thirdparty/depthai-core
	url = https://github.com/luxonis/depthai-core.git
[submodule "obj_det_model/CutLER"]
	path = obj_det_model/CutLER
	url = https://github.com/facebookresearch/CutLER.git
[submodule "obj_det_model/taco_dataset"]
	path = obj_det_model/taco_dataset
	url = https://github.com/pedropro/TACO.git
